body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.5s,
    color 0.5s;
    margin: 0;
    padding: 0;
}


main {
    margin-top: 120px;
}

body.claro {
    background-color: #f2f2f2;
    color: #222;
}


body.escuro {
    background-color: #121212;
    color: #f2f2f2;
}


h1 {
    transition: color 0.4s;
}


button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 40px;
}

main {
    background-color: white;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

img {
    width: 100%;
    border-radius: 8px;
    margin: 20px 0;
    transition: transform 0.5s;
}

img:hover {
    transform: scale(1.02);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 16px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
